<form
    action=""
    hx-post="{{ request.path }}"
    hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
    class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">
            Agregar nuevo libro
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <label for="{{ form.name.id_for_label }}" class="form-label">
                {{ form.name.label}}
            </label>
            {{ form.name }}
            <div class="invalid-feedback">{{ form.name.errors|first }}</div>
        </div>
        <div class="mb-3">
            <label for="{{ form.priority.id_for_label }}" class="form-label">priority</label>
            {{ form.priority }}
            <div class="invalid-feedback">{{ form.priority.errors|first }}</div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Cancelar
            </button>
            <button type="submit" class="btn btn-primary">
                Guardar
            </button>
        </div>
    </div>
</form>
