{% extends '../base.html' %}

{% block content %}
<a href="{% url 'to_do:create_task' %}">
    Nueva tarea
</a>



<table>
    <thead>
        <tr>
            <th>
                Tarea
            </th>
            <th>
                Prioridad
            </th>
            <th>
                Estado
            </th>
            <th>
                Activo
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>

        {% for task in tasks %}
            <tr id="id_{{ task.pk }}">
                <td>
                    {{ task.name }}
                </td>
                <td>
                    {{ task.priority }}
                </td>
                <td>
                    {{ task.status }}
                </td>
                <td>
                    {{ task.enable }}
                </td>
                <td>
                    <a href="{% url 'to_do:update_task' task.id %}">
                        Actualizar
                    </a>
                    <a href="{% url 'to_do:delete_task' task.id %}">
                        Eliminar
                    </a>
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>

<div class="modal-fade" id="modal">
    <div class="modal-dialog" id="dialog" hx-target="this"></div>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive"
      aria-atomic="true">
      <div class="d-flex">
        <div id="toast-body" class="toast-body"></div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
          aria-label="Close"></button>
      </div>
    </div>
  </div>

{% endblock content %}

{% block modal %}
{% endblock modal %}
